<ion-header>
  <ion-toolbar>
    <ion-title color="light">List of Trials</ion-title>
    <ion-button shape="round" slot="end" color="light" (click)="profile()"><ion-icon size="large" name="contact"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card1" color="light" *ngFor="let rt of recommended_trial">
    <ion-card-header >                
      <p>Lab Name</p> 
      <p class="title">{{ rt[1] }}</p>
    </ion-card-header>                
    <ion-card-content>
      <br>
      <p class="subtitle">Trial Name: {{ rt[2] }}</p><br>         
      <div>
        <ion-button size="small" (click)="view()"><ion-icon slot="end" name="arrow-round-forward"></ion-icon>View</ion-button>
      </div>        
    </ion-card-content>        
  </ion-card>

  <!-- <ion-card class="card1" color="light">
    <ion-card-header >                
      <p>Lab Name</p> 
      <p class="title">ICN</p>
    </ion-card-header>                
    <ion-card-content>
      <br>
      <p class="subtitle">Trial Name: Diabetes Remedy</p><br>         
      <div>
        <ion-button size="small" (click)="view()"><ion-icon slot="end" name="arrow-round-forward"></ion-icon>View</ion-button>
      </div>        
    </ion-card-content>        
  </ion-card>
  
  <ion-card class="card1" color="light">
    <ion-card-header >                
      <p>Lab Name</p> 
      <p class="title">World Health Organization</p>
    </ion-card-header>                
    <ion-card-content>
      <br>
      <p class="subtitle">Trial Name: Obese Reduction</p><br>         
      <div>
        <ion-button size="small" (click)="view()"><ion-icon slot="end" name="arrow-round-forward"></ion-icon>View</ion-button>
      </div>        
    </ion-card-content>        
  </ion-card> -->
  
</ion-content>
