<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>        
    <br>
    <img src="../../assets/images/New Logo1.png">

  <ion-item class="items" lines="none">
    <ion-label position="floating" color="light">Username</ion-label>
    <ion-input clear-input="true" type="text" [(ngModel)]="username" color="light"></ion-input>
  </ion-item>
  <br>

  <ion-item class="items" lines="none">
    <ion-label position="floating" color="light">Password</ion-label>
    <ion-input clear-input="true" type="password" [(ngModel)]="password" color="light"></ion-input>
  </ion-item>
  <br>

  <ion-item class="items" lines="none">
    <ion-label position="floating" color="light">Confirm Password</ion-label>
    <ion-input clear-input="true" type="password" [(ngModel)]="confirm_password" color="light"></ion-input>
  </ion-item>
  <br>
</ion-content>
