<ion-header>
  <ion-toolbar text-center>
    <ion-title color="light">UPDATE PERSONAL DETAILS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-item>
      <ion-label position="floating" color="light">FULL NAME</ion-label>
      <ion-input type="text" color="light" [(ngModel)]="fullname"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-label color="light">DATE OF BIRTH</ion-label>
      <ion-datetime value="2000-01-01" displayFormat="YYYY MMM DD"></ion-datetime>
    </ion-item><br>

    <ion-item>
        <ion-radio-group>
          <ion-list-header >
            <ion-label color="light" style="font-size: 20px;">Select your Sex</ion-label>
          </ion-list-header>
      
          <ion-item class="sex">
            <ion-label color="light">Male</ion-label>
            <ion-radio slot="start" value="male" checked></ion-radio>
          </ion-item>
      
          <ion-item class="sex">
            <ion-label color="light">Female</ion-label>
            <ion-radio slot="start" value="female"></ion-radio>
          </ion-item>

          <ion-item class="sex">
              <ion-label color="light">Transgender</ion-label>
              <ion-radio slot="start" value="transgender"></ion-radio>
          </ion-item>
        </ion-radio-group>
        
    </ion-item><br>

    <ion-item>
      <ion-label position="floating" color="light">CONTACT NO</ion-label>
      <ion-input type="number" color="light" [(ngModel)]="contactno"></ion-input>
    </ion-item><br>
    
    <ion-item>
      <ion-label position="floating" color="light">ADDRESS  </ion-label>
      <ion-textarea color="light" type="text" placeholder="Addres goes here...." [(ngModel)]="address"></ion-textarea>
    </ion-item><br>

    <ion-item>
        <ion-label position="floating" color="light">PINCODE</ion-label>
        <ion-input type="number" color="light" [(ngModel)]="pincode"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-label position="floating" color="light">EMAIL ID</ion-label>
      <ion-input type="email" color="light" [(ngModel)]="email"></ion-input>
    </ion-item><br>
   
    <!--<ion-item>
        <ion-label position="floating" color="light">Enter Aadhar Card Number</ion-label>
        <ion-input type="text" color="light" [(ngModel)]="aadhar"></ion-input>
      </ion-item><br>-->
      
    <ion-button type="submit" class="submit" (click)="submit()">SUBMIT</ion-button>

</ion-content>
