<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light">SHARE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <div>     
      <p padding class="tag">This is to certify that MR/MS <u>Nikhil SHETTY</u> has most courteously 
      been part of the trial <u>REDUCE FAT</u> conducted by the lab <u>WHO</u> for the noble
      welfare of the society.<br><br><br><br>DATE:<u>02/28/2019</u></p>      
      <img src="../assets/images/certificate.png"> 
    </div>
    <ion-card-content>
      <ion-textarea placeholder="Text goes here.."><a>PERSONAL EXPEREINCE</a></ion-textarea>
      <ion-grid>
        <ion-row>
          <ion-col offset="4">
            <ion-button float-center clear small>SHARE</ion-button>  
          </ion-col>
        </ion-row>
      </ion-grid>          
    </ion-card-content>
  </ion-card>
</ion-content>
