<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light">Locate Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label >HOSPITAL NAME:</ion-label>
    <ion-item lines="none">  
      <ion-input type="text" readonly value="Dirubhai Ambani Hospital"></ion-input>
    </ion-item><br>
  <ion-label>ADDRESS:</ion-label>  
  <ion-item>      
    <ion-textarea readonly rows="5" readonly value="Ionic enables developers to build performant, high-quality mobile Ionic enables developers to build performant, high-quality mobile">
    </ion-textarea>
  </ion-item>
</ion-content>
