<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light">TRIAL CENTERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card1" color="light">
    <ion-card-header >                
        <p>Trial Name:</p> 
        <p class="title">OBESE</p>
    </ion-card-header>                
    <ion-card-content><br>     
      <p>Trial Centers</p>       
      <div>
        <ion-grid>
          <ion-row>
            <ion-col><a>MUMBAI CENTER</a></ion-col>
            <ion-col><ion-button size="small" (click)="apply()">Apply</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><a>THANE CENTER</a></ion-col>
            <ion-col><ion-button size="small" (click)="apply()">Apply</ion-button></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><a>DOMBIVLI CENTER</a></ion-col>
            <ion-col><ion-button size="small" (click)="apply()">Apply</ion-button></ion-col>
          </ion-row>          
        </ion-grid>

      
      </div>        
    </ion-card-content>        
  </ion-card>


</ion-content>
