<ion-header>
  <ion-toolbar>
    <ion-title text-center color="light">Ongoing Trials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="card1" color="light">
    <ion-card-header >                
        <p>Lab Name:</p> 
        <p class="title">WORLD HEALTH ORGANIZATION</p>
    </ion-card-header>                
    <ion-card-content>
      <br>
      <p class="subtitle">TRIAL NAME: FAT REDUCE</p><br>         
      <div>
      <ion-button size="small" (click)="view()" color="danger"><ion-icon slot="end" name="close"></ion-icon>Cancel</ion-button>
      <ion-button size="small" disabled value="pending"><ion-icon name="refresh" slot="end"></ion-icon>Pending</ion-button>
      </div>        
    </ion-card-content>        
  </ion-card>

  <ion-card class="card1" color="light">
    <ion-card-header >                
        <p>Lab Name:</p> 
        <p class="title">WORLD HEALTH ORGANIZATION</p>
    </ion-card-header>                
    <ion-card-content>
      <br>
      <p class="subtitle">TRIAL NAME: FAT REDUCE</p><br>         
      <div>
      <ion-button size="small" (click)="cancel()" color="danger"><ion-icon slot="end" name="close"></ion-icon>Cancel</ion-button>
      <ion-button size="small" disabled value="pending"><ion-icon name="refresh" slot="end"></ion-icon>Pending</ion-button>
      </div>        
    </ion-card-content>        
  </ion-card>

</ion-content>
