<ion-header>
    <ion-toolbar>
        <ion-title text-center color="dark">Welcome <br>Medical Marvels!!!</ion-title>
    </ion-toolbar>
</ion-header>
      
<ion-content padding>
    <ion-button text-center class="register" (click)="register()">REGISTER</ion-button>

    <ion-card>
        <ion-card-header text-center>                
            WORLD HEALTH ORGANIZATION
        </ion-card-header>
        <img src="../assets/images/who.png" alt="hello">
        <ion-card-content text-center>
            <p class="subtitle">FAT REDUCE </p><br>
            <p>The mission of the WHO International Clinical Trials Registry Platform</p>                
        </ion-card-content>
        <ion-row>
            <ion-col>
                <ion-button color="light" small><ion-icon name="add-circle"></ion-icon></ion-button>
            </ion-col>
            <ion-col>                
            </ion-col>     
            <ion-col>                
            </ion-col>       
            <ion-col>
               <ion-button color="light" small><ion-icon name="share"></ion-icon></ion-button>
            </ion-col>
       </ion-row>
    </ion-card>
    
    <ion-card>
            <ion-card-header text-center>
                OBESE ORGANIZATION
            </ion-card-header>
            <img src="../assets/images/obesity.png" alt="hello">
            <ion-card-content text-center>
                <p class="subtitle">FAT REDUCE </p><br>
                <p>The mission of the WHO International Clinical Trials Registry Platform.</p>
                    
            </ion-card-content>
            <ion-row>
                <ion-col>
                    <ion-button color="light" small><ion-icon name="add-circle"></ion-icon></ion-button>
                </ion-col>
                <ion-col>                
                </ion-col>     
                <ion-col>                
                </ion-col>       
                <ion-col>
                   <ion-button color="light" small><ion-icon name="share"></ion-icon></ion-button>
                </ion-col>
           </ion-row>
        </ion-card>
        
        <ion-card>
                <ion-card-header text-center>
                    DIABETES ORGANIZATION
                </ion-card-header>
                <img src="../assets/images/diabetes.png" alt="hello">
                <ion-card-content text-center>
                    <p class="subtitle">DIABETES REDUCE </p><br>
                    <p>The mission of the WHO International Clinical Trials Registry Platform is to ensuring.</p>
                </ion-card-content>
                <ion-row>
                    <ion-col>
                        
                    </ion-col>
                    <ion-col>                
                    </ion-col>     
                    <ion-col>      
                        <ion-button color="light" small><ion-icon name="add-circle"></ion-icon></ion-button>          
                    </ion-col>       
                    <ion-col>
                       <ion-button small color="light"><ion-icon name="share"></ion-icon></ion-button>
                    </ion-col>
               </ion-row>
            </ion-card>
           
      </ion-content>